<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホームページ</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="navbar">
        <p>ホームページへようこそ</p>
        <div class="dropdown">
            <button>メニュー</button>
            <div class="dropdown-content">
                <a href="{% url 'syusseki' %}">出席状況</a>
                <a href="{% url 'students' %}">生徒情報</a>
                <a href="{% url 'event' %}">イベント確認</a>
                <a href="{% url 'alert' %}">通知</a>
                <a href="{% url 'logout' %}">ログアウト</a>
            </div>
        </div>
    </div>
</body>

<body>
    <h1>出席確認</h1>
    
    <div class="qr-code">
        <img src="data:image/png;base64,{{ qr_code }}" alt="QRコード">
    </div>
    
 
    <div class="message">QRコードを読み込んでください</div>
    
    <div class="datetime">
        現在の時刻: {{ current_time }}
    </div>
    
    <!-- 日時を更新するためのJavaScript -->
    <script>
        function updateTime() {
            const now = new Date();
            const datetimeElement = document.querySelector('.datetime');
            datetimeElement.textContent = '現在の時刻: ' + now.toLocaleString();
        }
        setInterval(updateTime, 1000);  // 1秒ごとに時間を更新
    </script>
</body>
</html>