<!-- templates/student_app/event_alert.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>イベント削除通知ページ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- ナビゲーションバー -->
    <div class="navbar bg-primary text-white p-3">
        <p class="welcome-message h4">イベント取り消しのお知らせ</p>
    </div>

    <!-- メインコンテンツ -->
    <div class="container mt-4">
        {% if deleted_event %}
        <h2 class="text-center">このイベントは削除されました。</h2>
        <table class="table table-bordered mt-4">
            <tbody>
                <tr>
                    <td>日付</td>
                    <td>{{ deleted_event.date }}</td>
                </tr>
                <tr>
                    <td>時間</td>
                    <td>{{ deleted_event.time }}</td>
                </tr>
                <tr>
                    <td>イベント名</td>
                    <td>{{ deleted_event.event_name }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    </div>

    <!-- 確認ボタン -->
    <div class="container text-right mt-4">
        <a href="{% url 'student_app:students_event' %}" class="btn btn-primary">
            確認しました
        </a>
    </div>
</body>
</html>
