<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生徒からの通知</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="dropdown">
        <button>メニュー</button>
        <div class="dropdown-content">
            <a href="{% url 'syusseki' %}">出席状況</a>
            <a href="{% url 'students' %}">生徒情報</a>
            <a href="{% url 'event' %}">イベント確認</a>
            <a href="{% url 'logout' %}">ログアウト</a>
        </div>
    </div>
</body>

</html>
