<!-- templates/app/seitoadd.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生徒追加</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="navbar">
        <p class="welcome-message"><big>生徒登録</big></p>
        <div class="dropdown">
            <button>メニュー</button>
            <div class="dropdown-content">
                <a href="{% url 'home' %}">ホームに戻る</a>
                <a href="{% url 'syusseki' %}">出席状況</a>
                <a href="{% url 'event' %}">イベント確認</a>
                <a href="{% url 'alert' %}">通知</a>
                <a href="{% url 'logout' %}"><b>ログアウト</b></a>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- フォームフィールドを表示 -->
        <button type="submit">登録</button>
    </form>
    <a href="../">戻る</a>
</body>
</html>
