<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生徒一覧</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="navbar">
        <p class="welcome-message"><big>生徒管理ページ</big></p>
        <div class="dropdown">
            <button>メニュー</button>
            <div class="dropdown-content">
                <a href="{% url 'home' %}">ホームに戻る</a>
                <a href="{% url 'syusseki' %}">出席状況</a>
                <a href="{% url 'event' %}">イベント確認</a>
                <a href="{% url 'alert' %}">通知</a>
                <a href="{% url 'logout' %}"><b>ログアウト</b></a>
            </div>
        </div>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>生徒名</th>
                <th>生徒ID</th>
                <th>メールアドレス</th>
                <th>登録日</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.student_id }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.registration_date }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">登録されている生徒はいません。</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<input type="button" onclick="location.href='add_student/'" value="追加">
</html>

